.countryCard {
  width: 264px !important;
  height: 336px;
  background: var(--elements-color);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 1px 1px 8px -0.5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.countryCard__flag {
  width: 100%;
  height: 48%;
  object-fit: cover;
}

.countryCard__content {
  padding: 20px 24px;
}
.countryCard__content h2 {
  font-size: 18px;
  letter-spacing: 0.75px;
  font-weight: 800;

  /* https://stackoverflow.com/a/34559614/12302691 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.countryCard__content ul {
  margin-top: 10px;
  list-style: none;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 24px;
}
.countryCard__content ul span {
  font-weight: 600;
}
